@import "tailwindcss";

@theme {
  --font-general : "Satoshi", sans-serif;
  --font-clash : "Clash Display", sans-serif;
  --font-switzer : "Switzer", sans-serif;
  --font-general : "General Sans", sans-serif;
}

body {
  font-family: 'Satoshi', sans-serif;
}
